################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab05-OOP-Pt2/v15
/Lab-05/Lab-05/obj/Debug/netcoreapp2.0
/Lab-05/.vs/Lab-05/v15
/Lab-05/Lab-05/obj/Release/netcoreapp2.0
